<% provide(:title, 'dashboard') %>
<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span4">
        <div class="well well-tiny">
          <ul class="nav nav-list">
            <li class="nav-header">Your Trips</li>
            <% current_user.owned_trips.each do |trip| %>
            <li><%= link_to trip.name, trip_path(trip) %></li>
            <% end %>
            <li><%= link_to content_tag(:span, '', :class => 'icon-plus-sign') + 'Create a trip', new_trip_path %></li>
          </ul>
        </div>
      </div>
      <div class="span4">
        <div class="well well-tiny">
          <ul class="nav nav-list">
            <li class="nav-header">Trip Memberships</li>
            <% current_user.trips.each do |trip| %>
            <li><%= link_to trip.name, trip_path(trip) %></li>
            <% end %>
            <li><%= link_to content_tag(:span, '', :class => 'icon-plus-sign') + 'Join a trip', trip_add_path %></li>
          </ul>
        </div>
      </div>
      <div class="span4"><img src="images/train_station.png"/></div>
    </div>
  </div>
  
</div>
