<h1>Sign Up</h1>

<form accept-charset="UTF-8" action="/travellers" class="new_traveller" id="new_traveller" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="skE95Ecuj1hFzbPjaTeTxQcojm0vz1NGc346vV3nX4w=" /></div>

  <div class="field">
    <label for="traveller_email">Email</label>
    <input id="traveller_email" name="traveller[email]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="traveller_firstname">Firstname</label>
    <input id="traveller_firstname" name="traveller[firstname]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="traveller_lastname">Lastname</label>
    <input id="traveller_lastname" name="traveller[lastname]" size="30" type="text" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Signup" />
  </div>
</form>

<%= link_to 'Back', root_path %>
